 .header h1 {
    font-size: 12px;
  }
   .header h2 {
    font-size: 80px;
  }
  .header {
     
     margin:0px;
  }

  			html { height: 100% }
			body { height: 100%; margin: 30px;font-family: Verdana; }