doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
		script(type='text/javascript').
			window.trianglevalue=!{triangleanswer}
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		script(src="/javascripts/scripts.js")

	body
		.container
			.header
				h1 THE ANSWER TO THE TRIANGLE PROBLEM IS
				h2
			.credits 
				.name MICHAEL S MOSLEY
				.email
					a(href='mailto:michaelsmosley@gmail.com') michaelsmosley@gmail.com
				.myurl
					a(href='http://michaelsmosley.com') michaelsmosley.com
		script(type='text/javascript').
			$('.header h2').html(window.trianglevalue)